.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin: 10px;
}

.logo {
  height: 50px;
  width: auto;
}

.landing-wrapper {
  width: 2000px;
  margin-left: auto !important;
  margin-right: auto !important;
}
