<div class="nav-wrapper">
  <div class="flex items-center cursor-pointer">
    <img class="logo" src="assets/img/robot.jpg" alt="A weeding table" />
    <span class="font-bold text-xl">IntervAI</span>
  </div>

  <div class="flex border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2">
    @if (authStore.isLoggedIn()) {
      <button
        pButton
        pRipple
        severity="info"
        label="Log out"
        [rounded]="true"
        (click)="logOut()"
      ></button>
    } @else {
      <button
        class="text-xl"
        pButton
        pRipple
        label="Login"
        routerLink="/auth/login"
        [rounded]="true"
        [text]="true"
        variant="text"
        severity="info"
      ></button>
      <button
        pButton
        pRipple
        severity="info"
        label="Register"
        routerLink="/auth/signup"
        [rounded]="true"
      ></button>
    }
  </div>
</div>
